.appWrapper {
    background-color: #262D37;
    margin: 0 auto;
    display: grid;
    width: 100%;
    min-height: 1000px;
    grid-template-areas: 
        "h h h"
        "n c pop_articles";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 8fr 2fr;
    
}

